@keyframes aparecer_d-i {
    from {
        opacity: 0; /* Empiezan con opacidad cero */
        transform: translateX(100px); /* Desplazamiento inicial fuera del área visible */
    }
    to {
        opacity: 1; /* Terminan con opacidad completa */
        transform: translateX(0); /* Sin desplazamiento horizontal */
    }
}

@keyframes aparecer_i-d {
    from {
        opacity: 0; /* Empiezan con opacidad cero */
        transform: translateX(-100px); /* Desplazamiento inicial fuera del área visible */
    }
    to {
        opacity: 1; /* Terminan con opacidad completa */
        transform: translateX(0); /* Sin desplazamiento horizontal */
    }
}

@keyframes aparecer_b-a {
    from {
        opacity: 0; /* Empiezan con opacidad cero */
        transform: translateY(100px); /* Desplazamiento inicial fuera del área visible */
    }
    to {
        opacity: 1; /* Terminan con opacidad completa */
        transform: translateY(0); /* Sin desplazamiento horizontal */
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
h2 {
    font-family: Gilda, Arial, serif;
    font-weight: 300;
    line-height: 1.5em;
    font-size: 3em;
    color: #056FAB;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h3 {
    font-family: Gilda, Arial, serif;
    font-weight: 300;
    line-height: 1.5em;
    font-size: 1.5em;
}

h4 {
    font-family: Gilda, Arial, serif;
    font-weight: 500;
    line-height: 1.5em;
    font-size: 1.7em;
}
#imatgeHeader {
    background-image: url("../img/img_header.webp");
    background-size: cover;
    width: 100vw;
    height: 550px;
    padding-top: 10%;
    position: relative;
}
#imatgeHeader::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .1);
    content: "";
}

.form_reserves > input, .form_reserves > select, .form_reserves > button {
    font-family: work_sans, serif;
    color: black;
    background-color: white;
    height: 40px;
    margin: 10px;
    padding: 0 10px;
    z-index: 3;
    border-radius: 5px;
    letter-spacing: 1px;

    border: none white;
    -webkit-user-select: none;
    -webkit-appearance: button;
    -moz-user-select: none;
    -ms-user-select: none;
    outline: none;
}

.form_reserves {
    margin-bottom: 25px;

}

.form_reserves > button:hover {
    background-color: cornflowerblue;
    color: white;
}

.form_reserves > button {
    padding: 0 20px;
    background-color: #b7cbef;
    color: black;
    font-weight: 550;
    font-size: 1em;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

section {
    position: relative;
    display: block;
    width: 100vw;
    height: fit-content;
    margin: 5rem auto;
    max-width: 100vw;
}

.section-container {
    box-sizing: border-box;
}
.section1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5%;
}
.s1{
    margin:auto;
    align-items: center;
    justify-content: center;
    display: flex;
}
@media screen and (max-width: 1300px){
    .section1{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .section1 div{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .text1{
       margin: auto;
    }
}

.section2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 1200px){
    .section2{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}


.text1 {
    max-width: 650px;
    margin-left: 6px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 2%;
    font-size: 1rem;
}

.estrelles {
    display: inline-block;
    width: 10rem;
}

.imatge1 {
    width: 650px;
    height: 450px;
    object-fit: cover;
    opacity: 0;
}

.boto1 {
    padding: 1rem 3rem;
    background-color: cornflowerblue;

    font-size: 1em;
    letter-spacing: 2px;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.boto1:hover{
    background-color: #3a5878;
    transform: scale(1.1);
}

.boto1 > a {
    color: white;
    font-family: work_sans, serif;
    font-weight: 350;
}

.section2 {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.s2 {
    max-width: 1300px;
    margin-top: 3rem;
    white-space: nowrap; /* Evita que las imágenes se desplacen a una nueva línea */
    overflow: hidden; /* Oculta el desbordamiento de las imágenes fuera del contenedor */

}

.s2 img {
    display: inline-block; /* Hace que las imágenes sean elementos en línea */
    opacity: 0; /* Empiezan con opacidad cero para luego hacer la transición */
    /* Animación de aparición durante 1 segundo */
}

#roomTour{
    color: white;
}

#romTour_div {
    margin-top: 25px;
    padding: 1rem 3rem;
    width: 160px;
    text-align: center;
    border-color: cornflowerblue;
    background-color: cornflowerblue;
    font-family: work_sans, serif;
    font-size: 1em;
    letter-spacing: 2px;
    font-weight: 350;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
#romTour_div:hover{
    background-color: #3a5878;
    transform: scale(1.1);
}