@font-face {
    font-family: Gilda;
    src: url("../fonts/GildaDisplay-Regular.ttf");
}
@font-face {
    font-family: lexend;
    src: url("../fonts/Lexend-VariableFont_wght.ttf");
}
body{
    overflow-x: hidden;
margin: auto;
background-color: white;
    font-family: Arial, serif;

}
header{

}
h1{
display: block;
    font-family: Gilda, Arial, serif;
    font-weight: 300;
    line-height: 1.5em;
    font-size: 6em;
}
h2{
    font-family: Gilda, Arial, serif;
    font-weight: 300;
    line-height: 1.5em;
    font-size: 3em;
    color: #056FAB;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
p, a{
    font-size: 13pt;
    letter-spacing: 2px;
    font-family: lexend, Arial, serif;

}

a{
    text-decoration: none;
}
#topBar{
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    top: 0;
    width: 100%;
    background-color: #1B2631;
    max-height: 30px;
    z-index: 5;
}
#iconaTel{
    height: 15px;
}

#imatgeHeader{
    width: 100vw;
    height: 60vh;
    object-fit: cover;
    object-position: center 25%;
    filter: brightness(0.8);

}
#divNav {
    width: 100vw;
    height: 10vh;
    margin-top: 10px;
    margin-bottom: 10px;
}

nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    margin: auto;
    border-bottom: cornflowerblue;
    border-top: cornflowerblue;
    border-top-width: thin;
    border-bottom-width: thin;
    border-bottom-style: solid;
    border-top-style: solid;
}

.navItem {
    text-align: center;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
}
.logoNav{
    height: 8vh;
}
#titol{
    position: absolute;
    z-index: 15;
    bottom: 2vh;
}
.divTitol{
    position: relative;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
section{
    position: relative;
    display: block;
    width: 100vw;
    height: fit-content;
    margin: 5rem auto;
    max-width: 100vw;
}
.section-container{
    box-sizing: border-box;
    display: grid;
}
.text1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   padding-top: 2%;
    margin-left: 20%;
}
.estrelles{
    display: inline-block;
    width: 10rem;
}
.imatge1{
    width: 70%;
    height: 450px;
    object-fit: cover;
}
.boto1{
    padding: 15px;
    background-color: cornflowerblue;
    position: relative;
    top: 5%;
    left: 5%;

}
.boto1 > a{
    color: white;
}
