
.text-white{
    color: white;
}

.margin-y-0{
    margin-bottom: 0;
    margin-top: 0;
}
.padding-y-0{
    padding-bottom: 0;
    padding-top: 0;
}

.text-center{
    text-align: center;
}

.margin-x-auto{
    margin-right: auto;
    margin-left: auto;
}

.margin-x-0{
    margin-right: 0;
    margin-left: 0;
}
.vw-100{
width: 100vw;
   }
.columns-2{
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}
.col2\/2{
grid-column: 2;
}
